## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [93]:
mi_lista = ['Madrid','Valencia','Barcelona','Londres','Amsterdam','París']
print(mi_lista)

['Madrid', 'Valencia', 'Barcelona', 'Londres', 'Amsterdam', 'París']

2) Imprimir por pantalla el segundo elemento de la lista

In [49]:
print(mi_lista[1])

Valencia

3) Imprimir por pantalla del segundo al cuarto elemento

In [50]:
print(mi_lista[1:4])

['Valencia', 'Barcelona', 'Londres']

4) Visualizar el tipo de dato de la lista

In [51]:
print(type(mi_lista))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [94]:
print(mi_lista[2:])

['Barcelona', 'Londres', 'Amsterdam', 'París']

6) Visualizar los primeros 4 elementos de la lista

In [53]:
print(mi_lista[:4])

['Madrid', 'Valencia', 'Barcelona', 'Londres']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [95]:
mi_lista.append('Londres')
mi_lista.append('Roma')
print(mi_lista)

['Madrid', 'Valencia', 'Barcelona', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma']

8) Agregar otra ciudad, pero en la cuarta posición

In [96]:
mi_lista.insert(3,'Florencia')
print(mi_lista)

['Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma']

9) Concatenar otra lista a la ya creada

In [97]:

mi_lista.extend(['venzia','napoles','milan'])
print(mi_lista)

['Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [61]:
print(mi_lista.index('Londres'))

4

11) ¿Qué pasa si se busca un elemento que no existe?

In [62]:
print(mi_lista.index('Cordoba')) #da error:'Cordoba' is not in list.

ValueError: 'Cordoba' is not in list

12) Eliminar un elemento de la lista

In [76]:
mi_lista.remove('Londres')

In [98]:
print(mi_lista)

['Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [79]:
mi_lista.remove('Cordoba') #Tambien da error porque no se encientra en la lista.

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [80]:
ultimo_elem = mi_lista.pop()
print(ultimo_elem)

milan

15) Mostrar la lista multiplicada por 4

In [100]:
print(mi_lista * 4)

['Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan', 'Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan', 'Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan', 'Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [85]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [86]:
print(type(mi_tupla))

<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [89]:
print(mi_tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [92]:
print(20 in mi_tupla)
print(30 in mi_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [105]:
elemento = 'París'
if (not (elemento in mi_lista)):
    mi_lista.append('París')
    print('Se agrego el elemento:', elemento)
else: print('El elemento:',elemento,'ya existe.')

El elemento: París ya existe.

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [106]:
print(mi_lista.count('Londres'))
print(mi_tupla.count(10))

2
1

21) Convertir la tupla en una lista

In [109]:
tupla_alista = list(mi_tupla)
print(type(tupla_alista))
print(tupla_alista)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [113]:
mi_tupla = tuple(tupla_alista)
primero,segundo,tercero,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = mi_tupla
print(primero)
print(segundo) 
print(tercero)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [117]:
mi_diccionario = {'Ciudad': mi_lista,
                  'País':['España','Francia','Inglaterra','Paises Bajos','Italia'],
            'Continente': ['Europa','Europa','Europa','Europa','Europa']}
print(mi_diccionario)

{'Ciudad': ['Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan'], 'País': ['España', 'Francia', 'Inglaterra', 'Paises Bajos', 'Italia'], 'Continente': ['Europa', 'Europa', 'Europa', 'Europa', 'Europa']}

24) Imprimir las claves del diccionario

In [118]:
print(mi_diccionario.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [120]:
print(mi_diccionario['Ciudad'])

['Madrid', 'Valencia', 'Barcelona', 'Florencia', 'Londres', 'Amsterdam', 'París', 'Londres', 'Roma', 'venzia', 'napoles', 'milan']